@import '../colors.scss';

table {
    width: 100%;
  }
  
  tr.detail-row {
    height: 0;
  }
  
  tr.element-row:not(.expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }
  
  .element-row td {
    border-bottom-width: 0;
  }
  
  .element-detail {
    overflow: hidden;
    display: flex;
  }

  .leftHeader{
    padding-left: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-right: 0.5%;
  }

  .rightHeader{
    padding-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0.5%;
  }

  .full-width {
    width: 100%;
  }


  