@import '../colors.scss';

.createdLabel{
    background-color: $labelRed;
    color: $notificationWhite;
    padding: 1%;
    border-radius: 7px;
}

.full-width {
    width: 100%;
  }

  .radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .radio-button {
    margin: 5px;
  }